Source: ros-humble-action-tutorials-py
Section: misc
Priority: optional
Maintainer: Audrow Nash <audrow@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-humble-action-tutorials-interfaces, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-action-tutorials-py
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-action-tutorials-interfaces, ros-humble-rclpy, ros-humble-ros-workspace
Description: Python action tutorial code
